:host {
  display: flex;
  padding: 10px;

  .image {
    height: 64px;
    width: 64px;

    img {
      height: 64px;
      width: 64px;
    }
  }

  .artist-text {
    margin-left: 10px;
    height: 100%;
    div {
      whitespace: no-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 33%;
    }

    a {
      text-decoration: none;
    }
  }
}
