@mixin position-slider-theme($theme) {
  $foreground: map-get($theme, foreground);

  .slider-container {
    color: mat-color($foreground, secondary-text);
  }
}
@include position-slider-theme($f10k-dark);

@mixin position-slider-typography($config) {
  .slider-container {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}
@include position-slider-typography($config);
