<ng-container *ngIf="artist">
  <div
    class="background-image"
    [ngStyle]="{'background-image': 'url(' + artist.images[0].url + ')'}"
  >
    <div class="background-gradient"></div>
  </div>

  <div class="page-content">
    <mat-card class="artist-info-card">
      <mat-card-header>
        <h1>{{artist.name}}</h1>
        <app-artist-save-button [id]="artist.id"></app-artist-save-button>
      </mat-card-header>
      <div>Genres:
        <ng-container *ngFor="let genre of artist.genres">{{genre}},</ng-container>
      </div>
    </mat-card>
  </div>
</ng-container>

