<div class="flex-col container" *ngIf="artist">
  <div class="artist-info flex-row">
    <div class="image-container">
      <img
        class="artist-image"
        *ngIf="artist?.images?.length > 0" [src]="artist.images[0].url"
      />
    </div>

    <div class="artist-info-text flex">
      <h1>{{artist.name}}</h1>
      <app-artist-save-button [id]="artist.id"></app-artist-save-button>
      <div *ngIf="artist?.genres?.length > 0">
        Genres:
        <ng-container *ngFor="let genre of artist.genres">{{genre}},</ng-container>
      </div>
    </div>
  </div>

  <div class="album-label"><h2>Albums</h2></div>

  <div class="flex">
    <app-virtual-scroll-list
      class="album-list"
      *ngIf="albumDataSource"
      [dataSource]="albumDataSource"
      [columns]="['image', 'name', 'popularity', 'album-saved']"
      (rowDoubleClick)="onRowDoubleClick($event)"
    ></app-virtual-scroll-list>
  </div>
</div>

