:host,
.container {
  height: 100%;
}

.artist-info,
.album-label
{
  padding: 20px;
}

.artist-info-text {
  margin-left: 20px;
}

.artist-image {
  width: 128px;
  height: 128px;
}

.album-list {
  height: 100%;
}
