:host,
.container {
  height: 100%;
}

.album-info {
  padding: 20px;
}

.album-info-text {
  margin-left: 20px;
}

.artist-image {
  width: 128px;
  height: 128px;
}

.track-list {
  height: 100%;
}
