<mat-tab-group class="search-tabs">
  <mat-tab [disabled]="trackDataSource.total === 0" [label]="'Tracks (' + trackDataSource.total + ')'">
    <app-virtual-scroll-list
      class="item-list"
      [dataSource]="trackDataSource"
      [columns]="['album-image', 'name', 'artist', 'album', 'popularity', 'duration', 'saved']"
      (rowDoubleClick)="onTrackDoubleClick($event)"
    ></app-virtual-scroll-list>
  </mat-tab>

  <mat-tab [disabled]="artistDataSource.total === 0" [label]="'Artists (' + artistDataSource.total + ')'">
    <app-virtual-scroll-list
      class="item-list"
      [dataSource]="artistDataSource"
      [columns]="['image', 'name', 'popularity', 'saved']"
      (rowDoubleClick)="onArtistDoubleClick($event)"
    ></app-virtual-scroll-list>
  </mat-tab>

  <mat-tab [disabled]="albumDataSource.total === 0" [label]="'Albums (' + albumDataSource.total + ')'">
    <app-virtual-scroll-list
      class="item-list"
      [dataSource]="albumDataSource"
      [columns]="['image', 'name', 'artist', 'popularity', 'saved']"
      (rowDoubleClick)="onAlbumDoubleClick($event)"
    ></app-virtual-scroll-list>
  </mat-tab>

  <mat-tab [disabled]="playlistDataSource.total === 0" [label]="'Playlists (' + playlistDataSource.total + ')'">
    <app-virtual-scroll-list
      class="item-list"
      [dataSource]="playlistDataSource"
      [columns]="['image', 'name']"
      (rowDoubleClick)="onPlaylistDoubleClick($event)"
    ></app-virtual-scroll-list>
  </mat-tab>
</mat-tab-group>
