<div class="list-container disable-select" *ngIf="entities">
  <table mat-table [dataSource]="entities" class="table" *ngIf="!loading">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><img *ngIf="element.images[2]" src="{{element.images[2].url}}"/></td>
    </ng-container>

    <ng-container matColumnDef="album-image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><img *ngIf="element.album.images[2]" src="{{element.album.images[2].url}}"/></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="popularity">
      <th mat-header-cell *matHeaderCellDef>Popularity</th>
      <td mat-cell *matCellDef="let element">
        <mat-progress-bar class="progress-bar" [value]="element.popularity"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/album', element.album.id]">{{element.album.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let element">
        <app-artist-names [artists]="element.artists"></app-artist-names>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef><mat-icon>timer</mat-icon></th>
      <td mat-cell *matCellDef="let element">{{element.duration_ms | minutesSeconds}}</td>
    </ng-container>

    <ng-container matColumnDef="track-saved">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <app-track-save-button [id]="element.id"></app-track-save-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="artist-saved">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <app-artist-save-button [id]="element.id"></app-artist-save-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="album-saved">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <app-album-save-button [id]="element.id"></app-album-save-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (dblclick)="rowDoubleClick.emit(row)"></tr>
  </table>
</div>
<mat-paginator *ngIf="total > pageSize" [pageSize]="pageSize" [length]="total" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>

