<div class="container">
  <div class="column">
    <div class="info vertical-align">
      <app-player-track-info></app-player-track-info>
    </div>
  </div>

  <div class="column">
    <div class="playback-controls vertical-align">
      <app-playback-controls></app-playback-controls>
      <app-position-slider></app-position-slider>
    </div>
  </div>

  <div class="column">
    <div class="volume-controls vertical-align">
      <app-volume-control></app-volume-control>
    </div>
  </div>
</div>
