:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.column {
  flex: 1;
  height: 64px;
  padding: 10px;
}

.info {
  flex: 0 0 300px;
}

.volume-controls {
  flex: 0 0 300px;
}

.playback-controls,
.volume-controls {
  text-align: center;
}
