:host,
.container {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1 0 0;
  min-height: 0;
}

.album-info {
  padding: 20px;
}

.artist-information {
  margin-left: 20px;
}

.album-image {
  width: 128px;
  height: 128px;
}

.track-list {
  height: 100%;
}
