<div class="flex-col container" *ngIf="album">
  <div class="album-info flex-row">
    <div class="image-container">
      <img
        class="album-image"
        *ngIf="album?.images?.length > 0" [src]="album.images[0].url"
      />
    </div>

    <div class="artist-information flex">
      <h1>{{album.name}} ({{album.release_date}})</h1>
      <h2>by <app-artist-names [artists]="album.artists"></app-artist-names></h2>
      <app-album-save-button [id]="album.id"></app-album-save-button>
      <div *ngIf="album?.genres?.length > 0">
        Genres:
        <ng-container *ngFor="let genre of album.genres">{{genre}},</ng-container>
      </div>
    </div>
  </div>

  <div class="flex">
    <app-entity-list
      class="track-list"
      [page]="0"
      [pageSize]="pageSize"
      [columns]="['name', 'popularity','duration','track-saved']"
      [selector]="selector"
      [total]="trackIds.length"
      (loadRequest)="onLoadRequest($event)"
      (rowDoubleClick)="onRowDoubleClick($event)"
    ></app-entity-list>
  </div>
</div>

