<div class="flex-col container" *ngIf="album">
  <div class="album-info flex-row">
    <div class="image-container">
      <img
        class="artist-image"
        *ngIf="album?.images?.length > 0" [src]="album.images[0].url"
      />
    </div>

    <div class="album-info-text flex">
      <h1>{{album.name}} ({{album.release_date}})</h1>
      <h2>by <app-artist-names [artists]="album.artists"></app-artist-names></h2>
      <app-album-save-button [id]="album.id"></app-album-save-button>
      <div *ngIf="album?.genres?.length > 0">
        Genres:
        <ng-container *ngFor="let genre of album.genres">{{genre}},</ng-container>
      </div>
    </div>
  </div>

  <div class="flex">
    <app-virtual-scroll-list
      class="track-list"
      *ngIf="trackDataSource"
      [dataSource]="trackDataSource"
      [columns]="['name', 'popularity','duration','saved']"
      (rowDoubleClick)="onRowDoubleClick($event)"
    ></app-virtual-scroll-list>
  </div>
</div>

