:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-container {
  color: #f1f1f1;
  flex: 1;
  overflow: auto;
  background: #424242;

  border-bottom: 1px rgba(255,255,255,.12) solid;
  box-sizing: content-box;
}

.table {
  width: 100%;

  tr {
    height: 32px;
  }

  td {
    &.mat-column-image {
      width: 32px;
    }
    &.mat-column-popularity {
      width: 20px;

      .progress-bar {
        width: 100%;

        ::ng-deep .mat-progress-bar-background {
          fill: grey;
        }
      }
    }
    &.mat-column-saved {
      width: 40px;
    }
  }

  img {
    height: 32px;
    width: auto;
    display: block;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #c3c3c3;
    }
  }
}
