:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-container {
  flex: 1;
  overflow: auto;
  border-bottom: 1px rgba(255,255,255,.12) solid;
  box-sizing: content-box;
}

.table {
  width: 100%;

  tr {
    height: 32px;
  }

  td {
    &.mat-column-image {
      width: 32px;
    }
    &.mat-column-popularity {
      width: 20px;

      .progress-bar {
        width: 100%;
      }
    }
    &.mat-column-saved {
      width: 40px;
    }
  }

  img {
    height: 32px;
    width: auto;
    display: block;
  }
}
