<div class="container f10k-dark">
  <header class="header mat-elevation-z8">
    <span class="app-title"><a [routerLink]="['/home']">{{title}}</a></span>
    <button *ngIf="loggedIn | async" (click)="logout()">Logout</button>
    <span class="flex-stuff"></span>
    <app-search *ngIf="loggedIn | async" class="search"></app-search>
  </header>
  <div class="body">
    <aside *ngIf="loggedIn | async" class="sidebar column mat-elevation-z8">
      <app-navigation class="navigation"></app-navigation>
    </aside>
    <main class="content column">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer *ngIf="(loggedIn | async) && (player | async)?.current_track" class="footer  mat-elevation-z8">
    <app-player></app-player>
  </footer>
</div>
