<div class="container f10k-dark">
  <header class="header">
    <span><a [routerLink]="['/home']">{{title}}</a></span>
    <span class="flex-stuff"></span>
    <app-search class="search"></app-search>
  </header>
  <div class="body">
    <aside class="sidebar column">
      <app-navigation class="navigation"></app-navigation>
    </aside>
    <main class="content column">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer">
    <app-player></app-player>
  </footer>
</div>
